# Local environment override
.env
.env.local
.env.*.local

# Persistent file database
persistent_db.json
deployment_config.json
boot_instance.id
duo_sso_config.json
instance_settings.json
system_console.log
local_auth_config.json

# Dependencies
node_modules/
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
